# create a view to fetch new headlines for prediction

In [2]:
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

# Access the environment variable
credentials_file = os.getenv("GOOGLE_APPLICATION_CREDENTIALS")

In [4]:
from google.cloud import bigquery

client = bigquery.Client()

view_id = "sharedgcpproject.headline_dataset.new_headlines"
source_data = "sharedgcpproject.headline_dataset.source_data"
prediction = "sharedgcpproject.headline_dataset.prediction"
view = bigquery.Table(view_id)

# The source table in this example is created from a CSV file in Google
# Cloud Storage located at
# `gs://cloud-samples-data/bigquery/us-states/us-states.csv`. It contains
# 50 US states, while the view returns only those states with names
# starting with the letter 'W'.
view.view_query = f"""
    SELECT *
    FROM `{source_data}`
    WHERE NOT EXISTS (
        SELECT 1
        FROM `{prediction}`
        WHERE `{source_data}`.UUID = `{prediction}`.UUID
    )
"""

# Make an API request to create the view.
view = client.create_table(view)
print(f"Created {view.table_type}: {str(view.reference)}")

Created VIEW: sharedgcpproject.headline_dataset.new_headlines

In [9]:
# check values:





# Construct the SQL query to preview the view
query = f"SELECT * FROM `{view_id}`"

# Run the query and print the results to the console
query_job = client.query(query)
results = query_job.result().to_dataframe()
results

,Headline,link,Publisher,DateTime,UUID
0,5 high-paying careers in data science,https://news.google.com/./articles/CBMiRGh0dHB...,TechCrunch,2023-02-08 08:00:00,e84aadce-0cda-4113-a78e-181563dddc81
1,Fortune names online data science program amon...,https://news.google.com/./articles/CBMiYWh0dHB...,TechCrunch,2023-02-08 08:00:00,72fd0b49-d697-4fc8-80c3-e748e1ab0b08
2,Jackson Lab hires its first chief data science...,https://news.google.com/./articles/CBMiV2h0dHB...,TechCrunch,2023-02-08 08:00:00,0df57fbc-997c-44f0-89c1-d49fbbc838f2
3,Accenture Working with Institute for Data Scie...,https://news.google.com/./articles/CBMiY2h0dHB...,TechCrunch,2023-02-08 08:00:00,f7ff38a9-0dc8-4c15-b368-5f60422b4ef2
4,Wharton/Engineering conference showcases advan...,https://news.google.com/./articles/CBMiXmh0dHB...,TechCrunch,2023-02-16 08:00:00,f9cdc94b-969b-43e6-a15b-62175f1ba31b
...,...,...,...,...,...
95,US: DLA Piper hires 10-strong data analytics t...,https://news.google.com/./articles/CBMibGh0dHB...,TechCrunch,2023-03-07 06:20:30,0d93d626-b387-4390-9648-41ccff50dd04
96,Understanding Ransomware Using Data Science - ...,https://news.google.com/./articles/CBMifGh0dHB...,TechCrunch,2023-02-23 11:34:46,1112987f-e26f-44b9-9c8e-507ede979df6
97,Top 10 Data Science Experts of the World in 2023,https://news.google.com/./articles/CBMiUmh0dHB...,TechCrunch,2023-03-01 06:31:15,072c12da-cee7-4833-8e40-688b9a704fee
98,The 'Search' For Simpler Analytics,https://news.google.com/./articles/CBMiWmh0dHB...,TechCrunch,2023-03-10 12:40:47,449174bd-8d20-4392-9754-df76d1589ae4
99,Our Teams,https://news.google.com/./articles/CBMiUGh0dHB...,TechCrunch,2023-03-10 14:46:31,185146d9-b9b0-4730-8188-99c9e34a4554